body {
    margin: 0px;
    background-color: #8AAAE5;
    font-family: 'Handlee', cursive;
    font-family: 'Poppins', sans-serif;
}

div {
    box-sizing: border-box;
    /*Ale Sanchez: prevenir que el padding agregue size a los contenedores*/
}

header {
    background-color: white;
    text-align: center;
}

h1,
h2,
p,
span {
    padding: 10px;
    margin: 0;
}

.content {
    max-width: 600px;
    margin: auto;
}

.photoPost {
    background: white;
    margin-top: 40px;
    margin-bottom: 30px;
}

.photoPost__header {
    display: flex;
    justify-content: space-between;
}

.photoPost__header__title {
    align-self: center;
}

.photoPost__header__date {
    align-self: center;
    color: gray;
}

.photoPost img {
    width: 100%;
    height: auto;
    display: block;
    /* width: 100%; */
    /*hacer que la imagen ocuper todo el cuadro*/
}